.slider-container(data-slider)
  .slider
    +slider-item( 'images/upload/slider.jpg',
          'slider-1',
          '1At Naturetour we are constantly adding to and improving our portfolio of wildlife holidays to provide you with an even greater choice of wildlife viewing experiences we are constantly adding to and improving.'
          )
    +slider-item( 'images/upload/slider.jpg',
          'slider-2',
          '2At Naturetour we are constantly adding to and improving our portfolio of wildlife holidays to provide you with an even greater choice of wildlife viewing experiences we are constantly adding to and improving.'
          )
    +slider-item( 'images/upload/slider.jpg',
          'slider-3',
          '3At Naturetour we are constantly adding to and improving our portfolio of wildlife holidays to provide you with an even greater choice of wildlife viewing experiences we are constantly adding to and improving.'
    )
    +slider-item( 'images/upload/slider.jpg',
          'slider-4',
          '4At Naturetour we are constantly adding to and improving our portfolio of wildlife holidays to provide you with an even greater choice of wildlife viewing experiences we are constantly adding to and improving.'
    )
  .slider-switch.slider-switch-prev(data-slider-dir="prev")
    span.prev
  .slider-switch.slider-switch-next(data-slider-dir="next")
    span.next
