extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  main
    include ./blocks/slider
    include ./blocks/welcome
    include ./blocks/hightlight
      //- .slider-item
      //-   img(src="images/upload/slider.jpg", alt="item 1")
      //-   .slider-content
      //-     p At Naturetour we are constantly adding to and improving our portfolio of wildlife holidays to provide you with an even greater choice of wildlife viewing experiences we are constantly adding to and improving.
      //- .slider-item
      //-   img(src="images/upload/slider.jpg", alt="item 1")
      //-   .slider-content
      //-     p At Naturetour we are constantly adding to and improving our portfolio of wildlife holidays to provide you with an even greater choice of wildlife viewing experiences we are constantly adding to and improving.
      //- .slider-item
      //-   img(src="images/upload/bn-img.jpg", alt="item 1")
      //-   .slider-content
      //-     p At Naturetour we are constantly adding to and improving our portfolio of wildlife holidays to provide you with an even greater choice of wildlife viewing experiences we are constantly adding to and improving
